:root {
	--color-0: #0369a1;
	--color-0-p: #e7f6fd;
	--color-1: #874de0;
	--color-1-p: #f4efff;
	--color-2: #2f9074;
	--color-2-p: #e8f8f3;
	--color-3: #be123c;
	--color-3-p: #ffe4e6;
	--color-4: #b45309;
	--color-4-p: #fef6e7;
	--color-5: #73347f;
	--color-5-p: #fdf3ff;
	--color-6: #ab2f64;
	--color-6-p: #fff3f8;
	--color-7: #0095c2;
	--color-7-p: #f1faff;
	--color-8: #65c18c;
	--color-8-p: #c3e9d3;
}
